@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" style="text-align:center; color:white">
    <h1>So...</h1>
    <p class="lead">I made this...</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-primary btn-lg" style="background-color:darkred">And there is only one button &raquo;</a></p>
</div>
